.LoadingScreen{
   width: 100vw;
   height: 100vh;
   position: relative;
   background-color: rgb(6, 153, 215);
   overflow: hidden;
   .loading-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)  translateY(-75%);
     color: white;
    .Kiran-rup{
        display: flex;
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        gap:10px;
    .kiran{
        display: flex;
        letter-spacing: 7px;
    }
    .Rup{
        letter-spacing: 7px;
        display: flex;
    }
    }
    .portfolio{
        font-size:36px;
        letter-spacing: 7px;
    }
   }
}
@media (max-width:768px){
    .Kiran-rup{
        font-size: 38px !important;
    }
    .portfolio{
        font-size:28px !important;
    }
}